@charset "UTF-8";



        body{
            background-color: rgb(67, 67, 67);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: small;
        }
        h1{
            color: rgb(117, 120, 135);
        }
        h2{
            color: rgb(140, 146, 146);
        }
        p{
            color: azure;
            text-align: justify;
        }
        a{
            color: antiquewhite;
        }
   